* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }



  /*///////// NAVBAR //////////*/



#navbar a.menu-icon {
  display: none;
  cursor: pointer;

}


#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 10px;
  background-color:white;
}



#navbar a {
  display: inline-block;
  width: 10rem;
  padding: 12px 0;
  color: #474747;
  text-align: center;
  text-decoration: none;
  margin-left:7px;
  margin-right:7px;
  border-top: 1px solid #474747;
  font: normal normal normal 15px/1.4em 'Signika',sans-serif;
}

#navbar a.selected {
    border-top: 4px solid #474747;
    padding-top: 9px;

}

#navbar a:hover {
  border-top: 4px solid #474747;
  padding-top: 9px;
}

/*///////// LOGO //////////*/

.first {
  margin-top: 90px;
  margin-bottom: 40px;
}

.logoarea {
  text-align: center;
}

a.logo {
  display: inline-block;
  width: 330px;
  height: 216px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/logo.png) no-repeat;
}

/*///////// THUMBNAILS //////////*/



.thumbcont {
  position:relative;
  display:block;
  float: left;
  width:14.28%;


}

.thumbcont img {
width:100%;
}

h3 {
  font: 600 150%/0em 'Signika',sans-serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;

}

h2 {
  font: 300 150%/0.6em 'Signika',sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 0;

}


.hovertext{
    position: absolute;
    width:100%;
    height:100%;
    background: #ed127b;
    color: #fff;
    opacity:0;
    transition:0.5s;
    padding-top: 35%;
}

a:hover .hovertext {
    opacity:1;
}

/*///////// MODALS /////////*/


.modal-header {
  margin-top: 30px;
}


.modal-header .close {
  margin-left: 887px;
}

#my-video {
  width:900px;
  height:506px;
}

h1 {
   font: 300 200%/0em 'Signika',sans-serif;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    color:#ed127b;

}

 a:focus, a:active {
   outline: none !important;
}

.videotitle {
  height:60px;
  padding-top: 10px;
  background-color: white;
  padding-left: 10px;

}


#my-video .vjs-big-play-button {
  font-size: 6em;
  margin: 200px 350px;
}

/*///////// ABOUT /////////*/

/*.aboutsec {
  max-width: 970px;
}*/

.about {
  width:58.33%;
  float:left;
  padding-left: 20px; 
  max-width: 1000px;
}

p {
  font: 300 130%/1.3em 'Signika',sans-serif;
}

.aboutlink {
  font: 600 110%/1.3em 'Signika',sans-serif;
  text-decoration: none;
  color: #ed127b;
}

.aboutlink:hover {
  text-decoration: none;
}

a.cv {
  display:inline-block;
  width: 140px;
  height: 30px;
  margin-top: 10px;
  background: url(../images/view_resume.png) no-repeat;
}

#mypic {
  float:right;
  margin-top: 10px;
  margin-left:10px;
  margin-right: 20px;
  }




/*///////// FOOTER /////////*/


.social {
  text-align: center;
  border-top: 1px solid black;
  padding-top: 30px;
  margin-top:30px;
}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.linkedin {
  background: url(../images/linkedin.png) no-repeat;
}

a.vimeo {
  background: url(../images/vimeo.png) no-repeat;
}

a.instagram {
  background: url(../images/instagram.png) no-repeat;
}

a.tumblr {
  background: url(../images/tumblr.png) no-repeat;
}

/*///////// RESPONSIVENESS //////////*/

@media only screen and (max-width: 2000px) {
  .thumbcont {
    width:16.66%;
   
  }

}
@media only screen and (max-width: 1300px) {
  .thumbcont {
    width:20%;
   
  }
  
@media only screen and (max-width: 1200px) {

  #my-video {
    width:600px;
    height:338px;
  }
  
  #my-video .vjs-big-play-button {
    font-size: 4em;
    margin: 130px 230px;
  }

  h1 {
   font: 300 150%/0em 'Signika',sans-serif;
    
  }
  .modal-header .close {
    margin-left: 587px;
  }
}

 @media only screen and (max-width: 991px) {

    p {
    font: 300 110%/1.3em 'Signika',sans-serif;
  }

  .aboutlink {
    font: 600 110%/1.3em 'Signika',sans-serif;
    text-decoration: none;
    color: #ed127b;
  }

  .about {
    width: 55%;
  }
}
 @media only screen and (max-width: 950px) {


  h3 {
    font: 600 120%/0em 'Signika',sans-serif;
  }

  h2 {
    font: 300 120%/0em 'Signika',sans-serif;

  }

}


@media only screen and (max-width: 850px) {
  .thumbcont {
    width:33.33%;
  }

  .aboutsec {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about {
    width: 100%;
  }

   #mypic {
    display:none;
  }


}



@media only screen and (max-width: 667px) {

  #my-video {
    width:360px;
    height:202px;
  }
  
   #my-video .vjs-big-play-button {
    font-size: 3em;
    margin: 70px 126px;
  }

  h1 {
   font: 300 120%/0em 'Signika',sans-serif;
    
  }
   .modal-header .close {
    margin-left: 338px;
  }
  
  .close {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  
  #navbar {
    background-color: rgba(0, 0, 0, 0);
    position:absolute;
  }
  
  #menu-links {
    display: none;
    background:none;
    clear:both;
  }


  #navbar a.menu-icon {
    display:block;
    float:left;
    font-size: 3rem;
    border: 3px solid #ed127b;
    width: 5rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#ed127b;
  }

  a.logo {
    background-size: 80%;
    background-position: top center;
  }

  #navbar a.menu-icon:hover {
    border: 3px solid #ed127b;

  }


  #navbar a:hover, #navbar a.selected:hover {
    border-top: 2px solid #474747;
  }

  #navbar a.selected {
    border-top: 1px dotted #ccc;
    padding-top: -1px;
  }


  #navbar a {
    display: block;
    width:50%;
    border: 1px dotted #ccc;
    text-align: left;   
    padding: 10px 10px 30px 10px;
    color:black;
    text-decoration: none;
    clear:both; 
    background: white;
  }

  .first {
    margin-top: 30px;

  }

  .thumbnails {
    margin-top: -50px;
  }

  
  h3 {
    font: 600 100%/0em 'Signika',sans-serif;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;

  }

  h2 {
    font: 300 100%/0em 'Signika',sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;

  }

  .hovertext{
    padding-top: 30%;
  }
  
  .aboutsec {
    margin-top: -50px;
  }
}
