

#navbar nav a.menu-icon {
  display: none;
  font-size: 2rem;
  border: 2px solid #474747;
  width: 5rem;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
}



#navbar nav a {
  display: inline-block;
  width: 10rem;
  margin: 0;
  padding: 12px 0;
  color: #474747;
  text-align: center;
  text-decoration: none;
  margin:22px 7px;
  border-top: 1px solid #474747;
  font: normal normal normal 12px/1.4em 'Open Sans',sans-serif;
}

#navbar nav a.selected {
    border-top: 4px solid #474747;
    padding-top: 9px;

}

#navbar nav a:hover {
  border-top: 4px solid #474747;
    padding-top: 9px;
}

.first {
  margin-top: 100px;
}

