* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: 'Anek Kannada', sans-serif; 
}



  /*///////// NAVBAR //////////*/



#navbar a.menu-icon {
  display: none;
  cursor: pointer;

}


#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: left;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 10px;
  background-color:white;
}



#navbar a {
  display: inline-block;
  width: 10rem;
  padding: 12px 0;
  color: #474747;
  text-align: center;
  text-decoration: none;
  margin-left:7px;
  margin-right:7px;
  border-top: 1px solid #474747;
  font: normal normal normal 15px/1.4em 'Anek Kannada', sans-serif;
}

#navbar a.selected {
    border-top: 4px solid #474747;
    padding-top: 9px;

}

#navbar a:hover {
  border-top: 4px solid #474747;
  padding-top: 9px;
}

/*///////// LOGO //////////*/

.first {
  margin-top: 90px;
  margin-bottom: 20px;
}

.logoarea {
  text-align: left;

}

a.logo {
  display: inline-block;
  background-size: 80%!important;
  margin-left: 22px;
  margin-top: 80px;
  margin-bottom: 30px;
  width: 500px;
  height: 100px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/logo.png) no-repeat;
}

/*///////// THUMBNAILS //////////*/



.thumbcont {
  position:relative;
  display:block;
  float: left;
  width:20%;
  font-size: 160%;


}

.thumbcont img {
width:100%;
}

h3 {
  font: 600 150%/0em 'Anek Kannada', sans-serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font: 100 150%/0.6em 'Anek Kannada', sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 0;

}

h1 {
   font: 100 300%/0em 'Anek Kannada', sans-serif;
    text-align: left;
    margin-top: 0;
    padding-top: 40px;
    color:#2e2e2e; 

}

.hovertext{
    position: absolute;
    width:100%;
    height:100%;
    background: #ff12ee;
    color: #fff;
    opacity:0;
    transition:0.5s;
    padding-top: 40%;
}

a:hover .hovertext {
    opacity:1;
}

/*///////// VIDEOS /////////*/


.modal-header {
  margin-top: 30px;
}


.modal-header .close {
  margin-left: 887px;
}



#my-video {
  width:960px;
  height:540px;
  margin-left: 22px;
}

}




 a:focus, a:active {
   outline: none !important;
}

.videotitle {
  height:60px;
  padding-top: 10px;
  background-color: white;
  margin-left: 22px;
  margin-bottom: 60px;
  color: #2e2e2e;


}

.formoretext {
  text-align: center;
  height:20px;
  padding-top: 0px;
  background-color: white;
  margin-left: 22px;
  margin-bottom: 0px;
  color: #2e2e2e;

}


#my-video .vjs-big-play-button {
  font-size: 6em;
  margin: 220px 380px;
}


/*///////// ABOUT /////////*/



.about {
  width:58.33%;
  float:left;
  padding-left: 20px; 
  max-width: 1000px;
}

p {
  font: 100 130%/1.3em 'Anek Kannada', sans-serif;
}

.aboutlink {
  font: 300 110%/1.3em 'Anek Kannada', sans-serif;
  text-decoration: none;
  color: #ff12ee;
}

.aboutlink:hover {
  text-decoration: none;
}

.resumelink {
  font: 500 130%/1.3em 'Anek Kannada', sans-serif;
  text-decoration: none;
  color: #ff12ee;
}

a.cv {
  display:inline-block;
  width: 140px;
  height: 30px;
  margin-top: 10px;
  background: url(../images/view_resume.png) no-repeat;
}

#mypic {
  float:right;
  margin-top: 10px;
  margin-left:10px;
  margin-right: 20px;
  }




/*///////// FOOTER /////////*/


.social {
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  margin-left: 22px;
  margin-right: 22px;
  border-top: 1px solid black;

}

.social a {
display: inline-block;
  width: 40px; 
  height: 40px; 
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


a.linkedin {
  background: url(../images/linkedin.png) no-repeat;
  background-size: 30px 30px;
}

a.vimeo {
  background: url(../images/vimeo.png) no-repeat;
  background-size: 30px 30px;

}

a.instagram {
  background: url(../images/instagram.png) no-repeat;
  background-size: 30px 30px;

}


a.dribbble {
  background: url(../images/dribbble.png) no-repeat;
  background-size: 30px 30px;

}
/*///////// RESPONSIVENESS //////////*/

@media only screen and (max-width: 2000px) {
  .thumbcont {
    width:25%;
    font-size: 160%;
   
  }
  
  .hovertext{
    padding-top: 40%;
  }
}

  
@media only screen and (max-width: 1020px) {

  #my-video {
    width:800px;
    height:450px;
  }




  #my-video .vjs-big-play-button {
    font-size: 4em;
    margin: 180px 330px;
  }

  #box-video .vjs-big-play-button {
    font-size: 4em;
    margin: 130px 100px;
  }

   h1 {
   font: 100 200%/0em 'Anek Kannada', sans-serif; 
   padding-top: 25px;
    
  }



}

 @media only screen and (max-width: 991px) {

    p {
    font: 100 110%/1.3em 'Anek Kannada', sans-serif;
  }

  .aboutlink {
    font: 300 110%/1.3em 'Anek Kannada', sans-serif;
    text-decoration: none;
    color: #ff12ee;
  }

  .about {
    width: 55%;
  }
  

}
 @media only screen and (max-width: 950px) {


  h3 {
    font: 100 100%/0em 'Anek Kannada', sans-serif;
  }

  h2 {
    font: 100 130%/0em 'Anek Kannada', sans-serif;

  }


  a.logo {
    width: 500px;
    height: 110px;
  }
}


@media only screen and (max-width: 850px) {
 

   #my-video {
    width:540px;
    height:303px;

  }

 #my-video .vjs-big-play-button {
    font-size: 4em;
    margin: 120px 220px;
  }



  .aboutsec {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  .about {
    width: 100%;
  }

   #mypic {
    display:none;
  }


  .hovertext{
    padding-top: 35%;
    font-size: 80%;



  }
}



@media only screen and (max-width: 667px) {

  #my-video {
    width:540px;
    height:303px;
  }


  

 h1 {
   font: 100 200%/0em 'Anek Kannada',sans-serif;
    padding-top: 20px;
  }


@media only screen and (max-width: 600px) {
  
  #navbar {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0px;
    position:absolute;
    margin-left: 30px;
  }
  
  #menu-links {
  
    display: none;
    background:none;
    clear:both;
    /*position: fixed;
    padding-top: 53px;
    padding-left: 2px;
    width: 100%;*/

  }


  #navbar a.menu-icon {
    display:block;
    float:left;
    /*position: fixed!important;*/
    font-size: 3rem;
    border: 3px solid #ff12ee;
    width: 5rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#2e2e2e;
  }

  a.logo {
    background-size: 50%!important;
    background-position: top left!important;
    margin-left: 92px;
    margin-top: 15px;
    margin-bottom: -30px;
  }

  #navbar a.menu-icon:hover {
    border: 3px solid #ff12ee;

  }


  #navbar a:hover, #navbar a.selected:hover {
    border-top: 2px solid #474747;
  }

  #navbar a.selected {
    border-top: 1px dotted #ccc;
    padding-top: -1px;
  }


  #navbar a {
    display: block;
    width:50%;
    border: 1px dotted #ccc;
    text-align: left;   
    padding: 10px 10px 30px 10px;
    color:black;
    text-decoration: none;
    clear:both; 
    background: white;
  }

  .first {
    margin-top: 30px;

  }

  .thumbnails {
    margin-top: -50px;
  }

  
  h3 {
    font: 100 80%/0em 'Anek Kannada', sans-serif;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;

  }

  h2 {
    font: 100 80%/0em 'Anek Kannada', sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;

  }

  .hovertext{
    padding-top: 30%;
  }
  
  .aboutsec {
    margin-top: 0px;
  }
}


